@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./img/Diverse/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

canvas {
  background-color: black;
  display: block;
  border-radius: 8px;
}

h1 {
  font-size: 64px;
  background-color: rgba(251, 250, 250, 0.5);
  border-radius: 8px;
  padding: 0 16px;
  margin: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(251, 250, 250, 0.5);
  height: auto;
  max-width: 720px;
  width: 100%;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

h2,
h3 {
  text-align: center;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 0;
}

.description p,
.description li {
  color: black;
  margin: 0;
  font-size: 18px;
}

.mobileDevice {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(251, 250, 250, 0.9);
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 8px;
}

.controller {
  position: fixed;
  display: none;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 1px;
  z-index: -0.9;
}

.controller img {
  height: 32px;
  width: 32px;
}

.controller img:hover {
  cursor: pointer;
  scale: 0.95;
}

.moves {
  display: flex;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 96px;
  height: auto;
  justify-content: space-between;
  z-index: 2;
}

.action {
  display: flex;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 96px;
  height: auto;
  justify-content: space-between;
  z-index: 2;
}

body.fullscreen-active canvas {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

body.fullscreen-active h1 {
  display: none;
}

body.fullscreen-active .description {
  display: none;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 48px;
  }

  .description p {
    font-size: 16px;
  }
}

@media only screen and (max-height: 630px) {
  canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  h1 {
    display: none;
  }

  .description {
    display: none;
  }
}

.none {
  display: none;
}
